<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form action="" class="box">
                        <label style="text-align: center; font-size: 200%; border-bottom: 1px solid black" class="label is-large" for="">
                        Edit Resume 📝
                        </label>
                            <div class="field">
                                <label style="font-size: 125%" for="" class="label">
                                    Contact Information 🗃️
                                </label>
                                    <div class="control">
                                        <p name="phone">{{resumeData.contactInfo}}</p>
                                    <label for="phone" class="label">Phone Number:</label>
                                        <p name="email">{{resumeData.contactInfo}}</p>
                                    <label for="email" class="label">Email:</label>
                                        <p name="github">{{resumeData.contactInfo}}</p>
                                    <label for="github" class="label">GitHUB:</label>
                                    </div>
                                </div>
                        <div class="field">
                                <label style="font-size: 125%" for="" class="label">
                                    Education 🗃️
                                </label>
                                    <div class="control">
                                        <input name="school" type="text"  class="input education-input"
                                        value="{{resumeData.education}}" />
                                         <label for="school" class="label">School:</label>
                                         <input name="degree" type="text"  class="input education-input"
                                        value="{{resumeData.education}}" />
                                        <label for="degree" class="label">Degree:</label>
                                    </div>
                                </div>
                                <div class="field">
                                <label style="font-size: 125%" for="" class="label">
                                    Work Experience 🗃️
                                </label>
                                    <div class="control">
                                        <input name="employer" type="text" class="input work-input"
                                        value="{{resumeData.workExperience}}" />
                                         <label for="employer" class="label">Employer Info:</label>
                                         <input name="degree" type="text" class="input work-input"
                                        value="{{resumeData.workExperience}}" />
                                        <label for="degree" class="label">Dates Employed:</label>
                                    </div>
                                </div>
                                <div class="field">
                                <label style="font-size: 125%" for="" class="label">
                                    Skills 🗃️
                                </label>
                                    <div class="control">
                                        <input name="skill" type="text"
                                        value=""/>
                                         <label for="skill" class="label">Skill: {{resumeData.skill}}</label>
                                         <input name="skill" type="text" 
                                        value=""/>
                                        <label for="skill" class="label">Skill: {{resumeData.skill}}</label>
                                        <input name="skill" type="text" 
                                        value=""/>
                                        <label for="skill" class="label">Skill: {{resumeData.skill}}</label>
                                    </div>
                                </div>
                                <label class="label" style="border-bottom: 1px dashed black">Summary 🗃️</label>
                       <div class="field-body">
                            <div class="field" style="margin-top: 3%">
                                <div class="control">
                                    <label for="summary" class="label">Summary-Content:</label>
                                    <textarea
                                        value="{{resumeData.summary}}"
                                        name="summary"
                                        >{{resumeData.summary}}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="current-resume-id is-invisible">{{resumeData.id}}</div>
</section>
 <script src="/js/viewResume.js"></script>